/* Tailwind CSS v3 Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles globaux */
html, body { height: 100%; margin: 0; }

/* Joli marqueur rond jaune */
.place-marker-dot {
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  background: #facc15;
  border: 2px solid white;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
}
